main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: calc(0.5 * var(--grid-column-width)) calc(2.5 * var(--grid-column-width));

  /* Font sizes */
  --font-size-hero-base-mobile: 142;
  --font-size-hero-base-tablet: 150;
  --font-size-hero-base-desktop: 180;
  --font-size-hero-base: 216;
  --font-size-hero-mobile-scalable: calc(var(--font-size-hero-base-mobile) / 760 * var(--window-width));
  --font-size-hero-tablet-scalable: calc(var(--font-size-hero-base-tablet) / 940 * var(--window-width));
  --font-size-hero-desktop-scalable: calc(var(--font-size-hero-base-desktop) / 1120 * var(--window-width));
  --font-size-hero-desktopXL-scalable: calc(var(--font-size-hero-base) / 1300 * var(--window-width));
  --font-size-hero-desktopXXL-scalable: calc(var(--font-size-hero-base) / var(--max-width-base) * var(--window-width));

  --font-size-hero-scalable: var(--font-size-hero-mobile-scalable);

  @media only screen and (min-width: 760px) {
    --font-size-hero-scalable:var(--font-size-hero-tablet-scalable)
  }

  @media only screen and (min-width: 940px) {
    --font-size-hero-scalable:var(--font-size-hero-desktop-scalable)
  }

  @media only screen and (min-width: 1120px) {
    --font-size-hero-scalable:var(--font-size-hero-desktopXL-scalable)
  }

  @media only screen and (min-width: 1300px) {
    --font-size-hero-scalable:var(--font-size-hero-desktopXXL-scalable)
  }

  @media only screen and (min-width: 1480px) {
    --font-size-hero-scalable:calc(var(--font-size-hero-base) * 1px)
  }

  h1 {
    font-size: var(--font-size-hero-scalable);
    letter-spacing: -0.06em;
  }

  h2 {
    font-size: var(--font-size-title-scalable);
    letter-spacing: -.05em;
  }

  span {
    font: var(--font-caption);
    font-family: var(--font-mono-semibold);
    text-transform: uppercase;
  }
}

.hero__title {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  &--first {
    height: calc(4 * var(--grid-column-width));

    h1 {
      position: absolute;
      left: var(--grid-gutter-width);
      bottom: 0%;
    }

    span {
      position: absolute;
      right: var(--grid-gutter-width);
      bottom: calc(0.8 * var(--grid-column-width));
    }
  }
  &--second {
    height: calc(1.5 * var(--grid-column-width));
    @media screen and (min-width: 1300px) {
      height: calc(2 * var(--grid-column-width));
    }

    h1 {
      position: absolute;
      left: calc(var(--grid-gutter-width) + var(--grid-column-width));
      @media screen and (min-width: 1100px) {
        left: calc(var(--grid-gutter-width) + 2 * var(--grid-column-width));
      }
      bottom: -15%;
    }
  }
  &--third {
    height: calc(1.5 * var(--grid-column-width));
    @media screen and (min-width: 1300px) {
      height: calc(2 * var(--grid-column-width));
    }

    h1 {
      position: absolute;
      right: var(--grid-gutter-width);
      bottom: -25%;
    }
  }
}

.hero__location {
  display: grid;
  position: relative;
  grid-template-rows: repeat(4, var(--grid-column-width));
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: var(--grid-column-width);
  padding-inline: var(--grid-gutter-width);

  &--title {
    position: relative;
    grid-column: 1/8;
    @media screen and (min-width: 1120px) {
      grid-column: 2/8;
    }
  }

  &--register {
    grid-row: 4;
    grid-column: calc(var(--grid-column-count) - 6) / span 7;
    display: flex;

    @media screen and (max-width: 900px) {
      margin-top: var(--grid-column-width);
    }

    .register__btn--text {
      background: var(--button-background);
      border: var(--button-border);
      backdrop-filter: blur(12px);
      border-radius: 180px;
      height: var(--button-height);
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1;

      span {
        color: var(--color-black-primary);
        font: var(--button-font);
        text-transform: initial;
        letter-spacing: -.04em;
      }
    }

    .register__btn--arrow {
      flex-shrink: 0;
      width: var(--button-height);
      background: var(--button-background);
      border: var(--button-border);
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      border-radius: 100%;
      height: var(--button-height);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      svg {
        width: 30%;
        height: 30%;
      }
    }

    &:hover {
      .register__btn--arrow {
        transform: rotate(45deg);
      }
    }
  }

  &--coordinates {
    position: absolute;
    bottom: 0;
    left: var(--grid-gutter-width);

    @media screen and (max-width: 900px) {
      bottom: var(--grid-column-width);
    }
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: calc(var(--grid-column-count) * var(--grid-column-width));
  position: relative;
  overflow: hidden;

  div {
    background-color: var(--color-black-primary);
    height: var(--grid-column-width);
    display: flex;
    align-items: center;

    &:first-child {
      width: calc(6 * var(--grid-column-width));
    }

    &:last-child {
      margin-left: var(--grid-column-width);
      width: calc(4 * var(--grid-column-width));
    }

    h2 {
      color: var(--color-white-primary);
    }
  }
}

.section-subtitle {
  position: absolute;
  width: fit-content;
  transform: translateY(-100%);

  span {
    display: flex;
    align-items: center;
    background-color: var(--color-black-primary);
    color: var(--color-white-primary);
    letter-spacing: -.01em;
    padding: var(--space-2) var(--space-4) var(--space-4);
  }
}